@using AutoPartsStore.Helpers
@model AutoPartsStore.Models.ViewModels.HomeIndexViewModel

@{
    ViewData["Title"] = "Автомагазин — Главная";
    Layout = "_Layout";
}

<section class="container mt-4">

    <!-- Популярные товары -->
    <h2 class="mb-3">Популярные товары</h2>

    <div class="products-grid">
        @foreach (var p in Model.Products)
        {
            <article class="product-card">
                <div class="thumb">
                    
                    @* <a href="/Products/Details/@p.ProductID"> *@
                    <a asp-controller="Products" asp-action="Details" asp-route-productId="@p.ProductID" asp-route-id="@p.ProductID">
                        <img src="@(String.IsNullOrEmpty(@ImageHelper.BytesToBase64(p.ImageData)) ? "/images/placeholder.png" : p.ImageData)" alt="@p.ProductName" />
                    </a>
                </div>

                <div class="card-body">
                    <div class="product-title">@p.ProductName</div>
                    <div class="meta">Производитель: @p.Manufacturer</div>
                    <div class="meta">Категория: @p.Category?.CategoryName</div>

                    <div class="d-flex align-items-center justify-content-between mt-2">
                        <div class="price">@String.Format("{0:N0} руб.", p.Price)</div>

                    </div>

                    <div class="card-actions mt-3">
                        <a asp-controller="Products" asp-action="Details" asp-route-productId="@p.ProductID" asp-route-id="@p.ProductID" class="btn btn-outline">Подробнее</a>

                        <form asp-controller="Cart" asp-action="Add" method="post" style="display:inline;">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="productId" value="@p.ProductID" />
                            <button type="submit" class="btn btn-primary btn-block">В корзину</button>
                        </form>
                    </div>
                </div>
            </article>
        }
    </div>

</section>
